@charset "UTF-8";

@font-face {
    font-family: 'font1';
    src: url('Fonts/Bestvalentina.otf') format('opentype');
}

body{
    
    color: rgb(26, 26, 26);
}

h1{
    border-radius: 2px;
}

h2{
    color: rgb(247, 156, 19);
    border-radius: 10px;
}

.basico{
    color:rgb(44, 223, 20);
    font-weight: bold;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}

.destaque{

    background-color: rgba(137, 43, 226, 0.562);
}